put your name, etc here

In [ ]:
Zhenwei Wu

# Lecture 1.2

Thursday Aug 29th, 2024

Lab 1.2 is due Tuesday Sep, 3rd

Lecture Agenda:
* debriefing on first class and homework, how's it going?
* logistics of github, downloading this Lab 1.2 notebook
* commenting and markup in notebooks
* workflow for the class

In general, we will do warmup exercises and lab exercises in a jupyter notebook. For most classes, you will download the notebook from github, open it on your local computer, and then upload your completed work back on github in your folder. Then in the assignment tab in Moodle, submit a url link to the completed lab, along with a screenshot of your completed score for the chapter(s) assigned in datacamp.

In general, Tuesday labs are due Friday by midnight and Thursday labs are due the following Tuesday by midnight. This will give you a chance to ask questions in the next class if you get stuck on something. Note the first lab (1.1) was due early so you are set up for this lab. If you are stuck on anything, let me know, and get help from your classmates.

In [ ]:
# here is an example of code commenting. The # symbol means everything on this line will be ignored

Here is an example of markdown text. Because this cell is in markdown mode it will also be ignored by the python shell

asasasasas

## Preliminaries

In our class github site, create a folder for yourself where you will submit your jupyter notebooks. The easiest way to do this is to create a new file that is a placeholder document in the new folder. You can delete it later.

## Warmup exercises

As you are doing these exercises, get familiar with jupyter notebook commands 
https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330

and markdown text https://medium.com/@ingeh/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

These exercises are based on what you have learned previously. Feel free to go look at what you did in datacamp to figure out how to answer them.

**W.1** Define and assign values to three variables of the three types we learned about Monday: integer, floating point, string and boolian. 

Note you can add more cells below by pressing the + button above or typing [esc] to command mode, then [b] to enter a cell below, or [a] to enter a cell above. See the link above for more commands

In [1]:
a = 1

In [9]:
b = "hello"

In [11]:
c = True

In [19]:
t = 5.5

**W.2** Print out the value and check the type of each variable

In [2]:
print(a)

1

In [7]:
print(type(a))

<class 'int'>

In [10]:
print(b)

hello

In [13]:
print(type(b))

<class 'str'>

In [14]:
print(c)

True

In [49]:
print(type(c))

<class 'bool'>

In [50]:
print(t)

5.5

In [51]:
print(type(t))

<class 'float'>

**W.3** Create a new variable that saves the value of the float variable as a string. Print it out

In [52]:
f = "6.66"

In [53]:
print(f)

6.66

In [54]:
print(type(f))

<class 'str'>

**W.4** Using multiplication of a variable, print out the text "Bueno Bueno Bueno Bueno Bueno" (Shoutout to Monsieur PerinÃ© https://youtu.be/JGL-eQAAxGs see 10:45)

In [ ]:
#define b then * 5. u will get following output

In [24]:
b = "Bueno "

In [25]:
b * 5

'Bueno Bueno Bueno Bueno Bueno '

**W.5** Do the same thing using addtion

In [26]:
a = 5

In [27]:
a * 5

25

In [ ]:
#str * int below

In [28]:
b * a

'Bueno Bueno Bueno Bueno Bueno '

In [ ]:
#str * bool below

In [29]:
g = True

In [30]:
b * g

'Bueno '

In [31]:
h = False

In [32]:
b* h

''

In [ ]:
#Tip: u cannot str * float

In [33]:
i = 5.5

In [34]:
b * i

TypeError: can't multiply sequence by non-int of type 'float'

**W.6** If you add an int and a float, what is the resulting variable type? Demonstrate

In [55]:
#see above W.5

**W.7** Can you convert a Boolian to an interger type variable? If so, what is the resulting value? What happens if you convert a float to an int?

In [ ]:
#convert boolian to int

In [36]:
int(True)

1

In [56]:
int(False)

0

In [57]:
#convert float to int

In [58]:
#Tip: just keep number even if it is larger than 5. see below

In [37]:
int(5.5)

5

In [38]:
int(5.3333)

5

In [39]:
int(6.7777)

6

In [59]:
#convert int to float lol

In [40]:
float(5)

5.0

In [41]:
float(True)

1.0

# Lab 1.2

## Lab Exercises

**E.1** Complete Ch 2 of Introduction to Python in datacamp.

**E.2** Below you will spend time practicing what you have learned in Ch 2. Use a comination of code, code commenting, and markdown text to take notes. Make sure you investigate how python syntax works and understand what you are doing, and what went wrong if you have any issues. You can refer to this document later if you need to review, so give future you lots of commenting to be helpful.

**E.2.1** Let's work on lists, indexing and printing out elements of lists.

We are going to calculate the BMI of five family members (or friends/colleaues if you have a small family, or famous people/politicians/atheletes if you really don't like talking to people, they just have to be adults and you need their data). Make intellegently named lists for the first name, last name, height, weight and age of each person. So, five lists in total.

In [ ]:
#given lists for first_name, surname, height in m, weight in kg and age in years

In [98]:
first_name = ["yuqiang", "yun", "dawang", "guiyin", "zihan"]
surname = ["John", "Ada", "Jack", "May", "Snow"]
height = [1.72, 1.50, 1.69, 1.48, 1.65]
weight = [72, 55, 70, 50, 60]
age = [53, 51, 82, 79, 18]

**E.2.2** Now create a new list that calculates the BMI of each person using the lists you created before

In [ ]:
# put everyone's name and calculate BMI using BMI fomula : BMI = weight in kg / (height in m)**2

In [99]:
Fam_BMI = [first_name[0], weight[0] / height[0]**2, 
           first_name[1], weight[1] / height[1]**2,
           first_name[2], weight[2] / height[2]**2,
           first_name[3], weight[3] / height[3]**2,
           first_name[4], weight[4] / height[4]**2]
print(Fam_BMI)

['yuqiang', 24.337479718766904, 'yun', 24.444444444444443, 'dawang', 24.508945765204302, 'guiyin', 22.826880934989045, 'zihan', 22.03856749311295]

**E.2.3** Look up the weight classification of each person based on their BMI (what's a good source for this, who do you trust?). Create a new list with this information for each person. (Don't judge, we live in Louisiana, which is not known for health food.)

In [ ]:
#reference for the classification: https://www.ncbi.nlm.nih.gov/books/NBK541070/ (National Library of Medicine)

In [ ]:
#put name and classification here.

In [100]:
Fam_BMIC = [first_name[0], "normal", 
            first_name[1], "normal",
            first_name[2], "normal",
            first_name[3], "normal",
            first_name[4], "normal"]
print(Fam_BMIC)

['yuqiang', 'normal', 'yun', 'normal', 'dawang', 'normal', 'guiyin', 'normal', 'zihan', 'normal']

**E.2.3** Let's practice some print statements and iterate manually through the people on your lists.

For each person, print out something like: "First_name last_name, age xx, has a height of xx units and weight of xx units, giving them a body mass index (BMI) of xx, making them yy" where yy is if they are normal, obese, etc.

In [ ]:
#put all things together

In [104]:
print (first_name[0], surname[0], 
       ",age", age [0],", has a height of", height[0], "m and weight of", 
       weight[0], "kg, giving him a body mass index (BMI) of", 
       Fam_BMI[1], ", making him", Fam_BMIC[1])

yuqiang John ,age 53 , has a height of 1.72 m and weight of 72 kg, giving him a body mass index (BMI) of 24.337479718766904 , making him normal

In [106]:
print (first_name[1], surname[1], 
       ",age", age [1],", has a height of", height[1], "m and weight of", 
       weight[1], "kg, giving her a body mass index (BMI) of", 
       Fam_BMI[3], ", making her", Fam_BMIC[3])

yun Ada ,age 51 , has a height of 1.5 m and weight of 55 kg, giving her a body mass index (BMI) of 24.444444444444443 , making her normal

In [107]:
print (first_name[2], surname[2], 
       ",age", age [2],", has a height of", height[2], "m and weight of", 
       weight[2], "kg, giving him a body mass index (BMI) of", 
       Fam_BMI[5], ", making him", Fam_BMIC[5])

dawang Jack ,age 82 , has a height of 1.69 m and weight of 70 kg, giving him a body mass index (BMI) of 24.508945765204302 , making him normal

In [108]:
print (first_name[3], surname[3], 
       ",age", age [3],", has a height of", height[3], "m and weight of", 
       weight[3], "kg, giving her a body mass index (BMI) of", 
       Fam_BMI[7], ", making her", Fam_BMIC[7])

guiyin May ,age 79 , has a height of 1.48 m and weight of 50 kg, giving her a body mass index (BMI) of 22.826880934989045 , making her normal

In [109]:
print (first_name[4], surname[4], 
       ",age", age [4],", has a height of", height[4], "m and weight of", 
       weight[4], "kg, giving her a body mass index (BMI) of", 
       Fam_BMI[9], ", making her", Fam_BMIC[9])

zihan Snow ,age 18 , has a height of 1.65 m and weight of 60 kg, giving her a body mass index (BMI) of 22.03856749311295 , making her normal

**E.2.4** Now add/append your information to each of the lists, and do the same print statement for you. Make a resolution to eat more veggies.

In [ ]:
#Add my own info into lists above

In [119]:
first_name2 = first_name + ["zhenwei"]
surname2 = surname + ["Vic"]
height2 = height + [1.72]
weight2 = weight + [65]
age2 = age + [26]
Fam_BMI2 = Fam_BMI + [first_name2[-1], weight2[-1] / height2[-1]**2]
Fam_BMIC2 = Fam_BMIC + [first_name2[-1], "normal"]
print (Fam_BMI2)
print(Fam_BMIC2)

['yuqiang', 24.337479718766904, 'yun', 24.444444444444443, 'dawang', 24.508945765204302, 'guiyin', 22.826880934989045, 'zihan', 22.03856749311295, 'zhenwei', 21.971335857220122]
['yuqiang', 'normal', 'yun', 'normal', 'dawang', 'normal', 'guiyin', 'normal', 'zihan', 'normal', 'zhenwei', 'normal']

In [120]:
print (first_name2[-1], surname2[-1], 
       ",age", age2 [-1],", has a height of", height2[-1], "m and weight of", 
       weight2[-1], "kg, giving him a body mass index (BMI) of", 
       Fam_BMI2[-1], ", making him", Fam_BMIC2[-1])

zhenwei Vic ,age 26 , has a height of 1.72 m and weight of 65 kg, giving him a body mass index (BMI) of 21.971335857220122 , making him normal

When you are done with your lab, upload this document to your github folder on the class site. Then submit a url link to the completed lab, along with a screenshot of your completed Ch 2 score in datacamp, to the assignment tab in Moodle.

# Scratch

In [5]:
# this is an area of the notebook you can mess around and test things out, if you don't want to put it above

In [82]:
S1 = ["has a height of Father[3] m"]
print(S1)

['has a height of Father[3] m']